[gerrit]
        basePath = git
	canonicalWebUrl = http://127.0.0.1:8080/
[database]
	type = H2
	database = db/ReviewDB
[auth]
        type = LDAP
[ldap]
        server = ldap://localhost
        username = cn=admin,dc=backoffice
	password = toor
        accountBase = ou=users,dc=backoffice
        groupBase = ou=groups,dc=backoffice
        referral = follow
        accountPattern = (uid=${username})
        groupPattern = (cn=${groupname})
        accountFullName = cn
        accountMemberField = memberOf
        accountEmailAddress = mail
        groupMemberPattern = (&(objectClass=groupOfNames)(member=${groupname}))
[sendemail]
        smtpServer = localhost
[container]
        user = root
        javaHome = /usr/lib/jvm/java-7-openjdk-amd64/jre
[sshd]
        listenAddress = *:29418
[httpd]
        listenUrl = http://*:8080/
[cache]
        directory = cache
